# Ejemplo de variables de entorno
# Ruta relativa o absoluta al archivo ontológico (OWL/RDF/Turtle)
ONTOLOGY_FILE=src/public/data/ontologia_becas.owl

# URI completa de la clase principal en la ontología
ONTOLOGY_CLASS=http://www.semanticweb.org/ontologia/becas-universitarias#Beca

# Puerto opcional
PORT=3000
